body{
     min-height: 100dvh;
    display: grid;
    grid-template-rows: 100px auto 120px;
    margin: 0%;
    min-height: 100dvh;
}
header{
    background-color: rgb(0, 136, 255);
    width: 100%;
    display: flex;
    align-items: center;
}
header img{
    height: 80px;
    margin: 10px 20px;
    margin-left:5%;
}
nav{
     margin-left: auto;
     margin-right: 10%;
}
.menu{
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}
.menu li{
    margin-right: 20px;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    padding: .2em 1em;
    padding-right: .5em;
    font-size: 20px;
}
main{
    margin: auto;
    width: 100%;
}
section{
    
    display: flex;
    justify-content: space-around;
}
article{
    width: 30%;
    padding: 24px 11px;
    margin:auto;
    border-radius:20px;
    box-sizing: border-box;
    text-align: center;
}
.article_icon{
    width: 250px;
    height: 250px;
}
.article_p{
    margin: 10px auto;
    width: 250px;
}
footer{
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 136, 255);
}
footer h5{
    margin: 50px;
}