@font-face {
    font-family: "CanelaText-Medium";
    src: url('../materials/Canela\ Text\ Family/CanelaText-Bold-Trial.otf') format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "CanelaText-Bold";
    src: url('../materials/Canela\ Text\ Family/CanelaText-Medium-Trial.otf') format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "CanelaText-Light";
    src: url('../materials/Canela\ Text\ Family/CanelaText-Light-Trial.otf') format("opentype");
    font-weight: normal;
}

body {
    min-height: 100dvh;
    display: block;
    grid-template-rows: 100px auto 120px;
    margin: 0%;
    min-height: 100dvh;
    background-color: #EDEBD7;
}

header {
    background-color: #c3e7f1;
    width: auto;
    display: flex;
    align-items: center;
    font-family: "CanelaText-Medium", serif;
    border: 1px solid #20373b;
}

header img {
    height: 80px;
    margin: 10px 20px;
    margin-left: 5%;
}

nav {
    margin-left: auto;
    margin-right: 10%;
}

.menu {
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

.menu li {
    margin-right: 20px;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: #20373b;
    padding: .2em 1em;
    padding-right: .5em;
    font-size: 24px;
}

main {
    margin: auto;
    width: 100%;
}

.active {
    color: #ffc64f;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    width: auto;
    background-color: #c3e7f1;
    font-family: "CanelaText-Medium", serif;
    border: 1px solid #20373b;
}

footer h5 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
}

/*Articles*/
section {
    display: flex;
    justify-content: space-around;
}

/*Article content*/
.lb_article {
    display: block;
    float: center;
    width: 70%;
    height: 200px;
    margin: 20px auto;
    background-color: #c3e7f1;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #20373b;
}

.y_article {
    display: block;
    float: center;
    width: 70%;
    height: 200px;
    margin: 20px auto;
    background-color: #ffc64f;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #20373b;
}

.b_article {
    display: block;
    float: center;
    width: 70%;
    height: 200px;
    margin: 20px auto;
    background-color: #20373b;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #20373b;
}

.b_article h3 {
    color: white;
}

.b_article p {
    color: white;
    display: inline;
}

.y_article img {
    float: right;
    margin: auto 20px auto auto;
}

.figureworkie p {
    display: inline;
}

.y_article h3 {
    text-align: right;
}

.ln_article {
    display: block;
    float: center;
    width: 70%;
    height: 200px;
    margin: 20px auto;
    background-color: #579cab;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #20373b;
}

.ln_article h3 {
    color: white;
}

.ln_article img {
    float: right;
}

.ln_article img {
    float: right;
    margin: auto 20px auto auto;
}

.ln_article h3 {
    text-align: right;
}


img {
    height: 100px;
    width: 100px;
    display: inline;
}
.y_article p {
    display: inline;
    margin-top: 5%;
}

@media only screen and (max-width: 1400px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article {
        margin-top: 40px;
    }

    footer {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: auto;
        margin-bottom: 0;
    }

    body {
        grid-template-rows: 100px auto auto;
    }
}