header{
    display: flex;
    align-items: center;
}
header img{
    height: 80px;
    margin: 10px 20px;
    margin-left:5%;
}
nav{
     margin-left: auto;
     margin-right: 10%;
}
.menu{
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}
.menu li{
    margin-right: 20px;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    padding: .2em 1em;
    padding-right: .5em;
    font-size: 20px;
}