
@font-face{
    font-family: "CanelaText-Medium";
    src: url('../materials/Canela\ Text\ Family/CanelaText-Bold-Trial.otf') format("opentype");
    font-weight: normal;
}
@font-face{
    font-family: "CanelaText-Bold";
    src: url('../materials/Canela\ Text\ Family/CanelaText-Medium-Trial.otf') format("opentype");
    font-weight: normal;
}
@font-face{
    font-family: "CanelaText-Light";
    src: url('../materials/Canela\ Text\ Family/CanelaText-Light-Trial.otf') format("opentype");
    font-weight: normal;
}
body{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 100px auto 120px;
    margin: 0%;
    min-height: 100dvh;
    background-color: #EDEBD7;
}
header{
    background-color: #c3e7f1;
    width: auto;
    display: flex;
    align-items: center;
    font-family: "CanelaText-Medium", serif;
    border: 1px solid #20373b;
}
header img{
    height: 80px;
    margin: 10px 20px;
    margin-left:5%;
}
.hamburger-lines{
    display: none;
}
.menu-toggle{
    display: none;
}
nav{
     margin-left: auto;
     margin-right: 10%;
}
.menu{
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}
.menu li{
    margin-right: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #20373b;
    padding: .2em 1em;
    padding-right: .5em;
    font-size: 24px;
}
main{
    margin: auto;
    width: 100%;
}
footer{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    width: auto;
    background-color: #c3e7f1;
    font-family: "CanelaText-Medium", serif;
    border: 1px solid #20373b;
}
footer h5{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    margin-left: 20px;
}
/*Articles*/
section{ 
    display: flex;
    justify-content: space-around;
}
article{
    width: 28em;
    height: 33em;
    padding: 24px 11px;
    margin:auto;
    border-radius:20px;
    box-sizing: border-box;
    text-align: center;
}
.article_icon{
    width: 250px;
    height: 250px;
}
.climate{
    background-color: #20373b;
    color: #c3e7f1;
    border: 2px solid #c3e7f1;
    border-radius: 20px;
}
.education{
    background-color: #ffc64f;
    color: #20373b;
    border: 2px solid #20373b;
    border-radius: 20px;
}
.equality{
    background-color: #c3e7f1;
    color: #20373b;
    border: 2px solid #20373b;
    border-radius: 20px;
}
/*Article content*/
.article_header{
    font-family: "CanelaText-Medium", serif;
    font-size: 32px;
}
.article_p{
    margin: 10px auto;
    width: 250px;
    font-family: "CanelaText-Light", serif;
    font-weight: 700;
    font-size: 20px;
}

@media only screen and (max-width: 1400px){
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article{
        margin-top: 40px;
    }
    footer{
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: auto;
        margin-bottom:0 ;
    }
    body{
        grid-template-rows: 100px auto auto;
    }
}
@media only screen and (max-width: 1050px){
   .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

}